#ignore data folders for containers
/services/
/volumes/
/LMDSBackups/
/media/
/Downloads/
/downloads/
/Movies/
/Music/
/TVseries/
/TransmissionWathFolder/
/TVrecordings/
/vpn/
docker-compose.yml
.outofdate
downloads